#titullo{
    font-family: Lato;
    text-shadow: 2px 2px #202c36;
    text-align: center;
    font-size: xx-large;
}
body{
    background-image: url("../img/tło2.png");
    background-size: cover;
    color:white;
    font-family: Lato;
    text-shadow: 1px 1px #202c36;
    font-size: x-large;
}
#line{
    border-top: 4px solid lightblue;
    margin-top: 12px;
    margin-bottom: 10px;
}
#border{
    border-top:4px solid lightblue;
    margin-top: 12px;
    margin-bottom: 10px;
}
table#summaryComp {
	width: 50%;
}
#summaryComp div {
    display: block;
}
#selectComp select {
    color:white;
    font-family: Lato;
    font-size: large;
    background-color: #060a26;
}
table#summaryComp,
table#summaryComp td {
	border: 2px solid lightblue;
	border-collapse: collapse;
	}
#summaryComp img {
    width: 100px;
    height: auto;
}
#sumAll{
    width:200px;
    background-color: #060a26;
    position: absolute;
    top:10px;
    right:30px;
    border: 2px solid lightblue;
}
table#summaryComp {
    width: 60%;
    margin: 0 auto;
    margin-top:10px;
}
table#summaryComp td{
    text-align: center;
}
table#summaryComp td:nth-child(1){
    width:25%
}
table#summaryComp td:nth-child(2){
    width:50%
}
table#summaryComp td:nth-child(3){
    width:25%
}