body{
    background-image: url("../img/tło2.png");
    background-size: cover;
    color:white;
    font-family: Lato;
    font-size: x-large;
}
#line{
    border-top: 4px solid lightblue;
    margin-top: 12px;
    margin-bottom: 10px;
}
#border{
    border-top:4px solid lightblue;
    margin-top: 12px;
    margin-bottom: 10px;
}
table#summaryComp {
	width: 50%;
}
#summaryComp div {
    display: block;
}
#selectComp select {
    color:white;
    font-family: Lato;
    font-size: large;
    background-color: #060a26;
}
table#summaryComp,
table#summaryComp td {
	border: 2px solid lightblue;
	border-collapse: collapse;
	}
